<div class="container d-flex">
  <div class="card-product mx-3 my-3 px-3 py-3 h-100 w-100 flex-column">
    <h1><%= @user.user_name %></h1>
    <h3>List of all my conspiracies</h3>
    <ul>
      <% @conspiracies.each do |conspiracy| %>
        <li>
          <%= link_to conspiracy_path(conspiracy) do %>
            <%= conspiracy.title %>
          <% end %>
          - <%= conspiracy.content %>
        </li>
      <% end %>
    </ul>
  </div>
