<div id="conspiracy-vote-<%= conspiracy.id %>" class="mb-3 w-100">
  <%= button_to votes_path(conspiracy_id: conspiracy.id), method: :post, class: "btn btn-secondary w-100 vote-btn " do%>
    <%= conspiracy.votes.count %> <i class="fa-solid fa-thumbs-up"></i>
  <% end %>
</div>
