.form {
  width: 500px;
  border: 15px solid rgb(126, 3, 15);
  padding: 50px;
  background: white;
  margin-top: 30px;
  margin-bottom: 30px;

    .my-btn{
      background-color: $red-button;
    }
  }
