<div id="conspiracy-vote-<%= conspiracy.id %>">
  <%= conspiracy.votes.count %> votes<%= button_to votes_path(conspiracy_id: conspiracy.id), method: :post, class: "btn btn-secondary" do%>
    <i class="fa-solid fa-eye"></i>
  <% end %>
</div>
