<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.thetimes.com/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F99fb9468-4b44-406d-a4c2-5646791b6367.jpg?crop=1600%2C900%2C0%2C0&format=webp&resize=1500)">
  Paranoaic
</div>
<div class="container">
  <% @conspiracies.each do |conspiracy| %>
    <h3 class=""><%= conspiracy.title %></h2>
    <h4 class=""><%= conspiracy.content%> </h2>
    <%= link_to "", root_path(conspiracy), class: "card-trip-link" %>
  </div>
<% end %>
<%# <%= link_to "Create a New Conspiracy", new_conspiracy_path, class: "btn btn-primary mx-3 mt-3" %>
