<h2>New page</h2>
<%= simple_form_for  @conspiracy do |f| %>
  <%= f.input :keyword, placeholder: "Enter one idea" , class: "form-label"%>
  <%= f.input :keyword, placeholder: "Enter one idea", class: "form-label"%>
  <%= f.submit "make your conspiracy", class: "btn btn-primary" %>
<% end %>
