<div class="container justify-content-center d-flex background-color">
  <div class="form">
    <h1 class="text-center">Create Your Conspiracy</h1>
    <%= simple_form_for @chat do |f| %>
      <%= text_field_tag :varone, "", placeholder: "placeholder one", required: true %>
      <%= text_field_tag :vartwo, "", placeholder: "placeholder one", required: true %>
      <%= f.submit "Make a Conspiracy", class: "btn btn-primary col-12" %>
    <% end %>
  </div>
</div>
