<div class="container justify-content-center d-flex background-color">
  <div class="form">
    <h1 class="text-center">Create Your Conspiracy</h1>
    <%= simple_form_for  @conspiracy do |f| %>
      <%= f.input :title, label: "First idea", placeholder: "Flat Earth" , class: "form-control"%>
      <%= f.input :content, label: "Second idea", placeholder: "Kyrie Irving", class: "form-control"%>
      <%= f.submit "Make a Conspiracy", class: "btn btn-primary col-12 my-btn" %>
    <% end %>
  </div>
</div>
