<h1><%= @conspiracy.title %></h1>

<div class="container">
  <div class="conspiracy_title">
    <%= @conspiracy.title %>
  </div>
  <div
    class="conspiracy content">
  </div>

</div>
<%= button_to "Like", votes_path(conspiracy_id: @conspiracy.id),
  method: :post,
  class: "btn btn-primary" %>
    <%= @conspiracy.votes.count %>likes
